@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/41eae6f88194706e4cb26de3ac737d8a.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/154dcc58b1e77916e556017f33cbcd2e.ttf') format('truetype');
}
